*{

    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    padding: 0px;

}


.inter-normal{
  font-family: "Inter", sans-serif;
  
}


.noto-serif-normal{
  font-family: "Noto Serif", serif;
  
}
/*shared styles*/


.continer{
    max-width: 1140px;
    margin:auto;
   
}


.txt{

    color: rgb(233, 90, 8);
}

.nav-txt{

    color: #252432;
}

.nav-txt-1{

    color: rgba(0,0,0,0.5);
}


/*Navigation styles*/

nav{
 margin-top:30px;
display: flex;
justify-content: space-between;
margin-bottom: 120px;

align-items: center;
}

.nav-logo{

height: 82px;
width: 135px;



}
.nav-content a{

margin-left: 48px;
text-decoration: none;


}

/*banner styles*/


.banner{

     
     display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    
}
.banner-content{

   width: 50%; 
   
}

.banner-title{
padding-top: 163px;
margin-bottom: 13px;
font-weight: 700;
font-size: 4rem;
color: rgb(0,0,0);

}

.banner-description{
    color: rgba(0,0,0,0.5);
    font-weight: 400;
    font-size: 1.35rem;
}
.banner-img{

    
   display: block;
}

/*Plants Section Styles*/

.plants{

   
    margin-bottom: 211px;
}
.plants-content{

    text-align: center;
    
    margin: 0px;
padding: 0px;
margin-bottom: 49px;

}
.plants-title{


    font-weight: 700;
font-size: 3.1rem;
color:rgb(0, 0, 0) ;
margin-bottom: 16px;
}

.plants-description{

    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px 126px;
    color: rgba(0,0,0,0.5);
}

.plants-cards{
   
display: grid;
grid-template-columns: repeat(4,1fr);
flex: 1;
width: 100%px;
gap: 15px;

}

.plants-card{

  
 
    margin-left: 0px;
   display: grid;
   place-items: center;
  
    
}
.plants-img{

    height: 323px;
    width: 270px;
    margin-bottom: 30px;
    
}
.plant-card-content{

    text-align: center;
}
.plant-title{

font-size: 1.4rem;
font-weight: 500;
color:rgb(17, 17, 17);
margin-bottom: 20px;

}

.plant-price{

    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(17,17,17);
    margin-bottom: 20px;
}
.btn{

    
    background-color: rgb(233, 90, 8);
    width: 270px;
    height: 50px;
    text-align: center;
    
    justify-content: center;
    padding: 19px 80px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

/*Plants Lover Section Styles*/
.lover{

    display: flex;
    width: 100%;
  
    column-gap: 20px;
    margin-bottom: 133px ;
}
.flower-logo{


   width:540px;
    background-image: url('../assets/flower-store.png');
    height:597px ;
    position: relative;
}

.logo{

    height: 286px;
    width: 286px;
    
position: absolute;
top: -22%;
left: 70%;
  
   
    
   
    
}
.lover-content{

padding: 39px 0px 39px 60px ;
}

.lover-title{
font-weight: 700;
font-size: 3.1rem;
;
}
.lover-descriptions ul li{
font-weight: 400;
font-size: 1.3rem;
margin-bottom: 20px;
color: rgba(0,0,0,0.5);
}

/* Join Section Styles*/


.Join{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/news-letter-bg.png');
    background-size:cover ;
    height: 533px;
    background-repeat: none;
    
}

.join-title{
    text-align: center;
 font-weight: 700;
 font-size: 3.1rem;   
   margin-bottom: 23px;
   color: rgb(255, 255, 255);
}

form{

    display: flex;
    
}
form input{

    height: 50px;
    width: 644px;
    padding: 15px 540px 15px 20px;
  
   
}

    
.bt{

height: 50px;
width: 186px;
background-color:rgb(233, 90, 8) ;
 font-size: 1rem;
 font-weight: 600;
 padding: 19px 53.5px 19px 53.5px;
 color:rgb(255, 255, 255);

}

/*footer styles*/

footer{

    display: flex;
    justify-content: space-between;
   
}

.footer-content{


    padding: 50px 110px 70px 160px;
}

.footer-logo{

   height: 82px;
   width: 135px; 
}
.footer-description{

    font-weight: 400;
    font-size: 1.4rem;
    color: #8987A1;
}

.fotter-bars{


    display: flex;
    column-gap: 110px;
    padding: 50px 110px 50px 0px;
}
.fotter-bar{

    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.fotter-bar a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}
.footer-icons{

    padding: 50px 160px 262px 0px;
}

.icon{

    margin-left: 24px;
}

/*Latest Deal Section*/

.deals-content{


  
    text-align: center;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.deals-title{

    font-size: 3.1rem;
    font-weight: bold;
    color: black;
}

.deals-description{

    font-size: 1.3rem;
    font-weight: normal;
    margin-top: 16px;
    margin-bottom: 120px;
    color: rgba(0,0,0,0.5);
}
.deals-img-continer{


display:flex ;
column-gap: 10px;

margin-bottom: 120px;
position: relative;

}



.deals-img-1{
position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:50%;
    width:367px;
    background-repeat: no-repeat;
    background-image: url('../assets/deal-bloom.png');
    filter: brightness(85%);
    border-radius: 14px;
    margin-bottom: 10px;
 
}
.deal-button{


    padding: 19px 95.5px;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.deals-img-1-title{
position: relative;
    z-index: 2;
    font-size: 1.1rem;
    font-weight: bold;
    color: #FFFFFF;
   
}
.deals-img-2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/deal-ana.png');
    filter: brightness(85%);
     height: 201px;
     border-radius: 14px;
     background-repeat: no-repeat;
     
   
}

.deals-img-big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/deal-zabo.png);
    filter: brightness(85%);
    width: 60%;
    height: 423px;
    border-radius: 14px;
}

.deals-img-big-title{

    font-size: 2.2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.deal-button-big{

    padding: 19px 95.5px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #FFFFFF;
}




@media screen and (max-width:768px) {


    *{

        margin: 0px;
    }
    
    .continer{
    max-width: 768px;
    margin: auto;
    
   
}

/* nav styles*/


nav{
    margin: 13px 16px 28px 16px;
   
align-items: end;
}

.nav-logo{

height: 38px;
width: 63px;



}
    /*banner styles*/


.banner{

   
   flex-direction: column-reverse;
    
}
.banner-content{

   width: 100%; 

}

.banner-img{

    
   max-width: 100%;
}


/*Plants Section Styles*/

.plants{

   margin: 0px;
   padding: 0px;
   gap: 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}


.btn{

    
    background-color: rgb(233, 90, 8);
    width: 171px;
    height: 50px;
    text-align: center;
    
    justify-content: center;
    padding: 19px 30.5px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.plants-img{

    height: 171px;
    width: 185px;
}
.plants-content{

    text-align: center;
    margin-bottom: 49px;
}




.plants-cards{
   
display: grid;
grid-template-columns: repeat(2,1fr);
max-width: 340px;
margin: 0;
padding: 0px;

}







/*Plants Lover Section Styles*/
.lover{
margin-top: 120px;
    flex-direction: column;
   
  
    
    margin-bottom: 133px ;
}
.lover-content{

padding: 39px 0px 39px 30px ;
}

.flower-logo{


   background-size: 80%;
    background-image: url('../assets/flower-store.png');
  background-repeat: no-repeat;
  height: 396px;
  width: 358px;
    
    
}
.logo{

    display: none;

    
}

/* Deals Section*/


.deals-img{

    flex-direction: column;
}


.deals-img-continer{

    flex-direction: column;
    height: 581px;
    width: 100%;
  
   text-align: center;
   

    
}

.deal-button-big{

    font-size: 1rem;
}

.deals-img-big-title{

    font-size: 1.1rem;
 
   
}
.deals-img{

    width: 100%;
    
   
  
}


.deals-img-1{

   
    height:184px;
    width:361px;
    
    border-radius: 14px;
    margin-bottom: 10px;

}


.deals-img-2{

   
    height:184px;
    width:361px;
    
    border-radius: 14px;
    margin-bottom: 10px;
}

.deals-img-big{

   
    height:184px;
    width:361px;
    
    border-radius: 14px;
    margin-bottom: 10px;
    background-size: cover;
}

/* Join Section Styles*/





form{

    display: flex;
    
}

form input{

    height: 50px;
    width: 218px;
    padding: 15px 114px 15px 20px;
  
   
}
    
.bt{

height: 50px;
width: 103px;

 padding: 19px 12px;
 

}

/*footer styles*/

footer{

    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top:50px ;
   
}
.footer-content{


    padding: 0px;
}


.footer-icons{

    padding:10px;
}

.fotter-bars{

    row-gap: 25px;
    flex-direction: column;
}

.nav-content a:nth-child(-n+3) {

display: none;
}

.footer-logo{

   height: 109px;
   width: 180px; 
}

}