*{

    box-sizing: border-box;
    border: 0px;
    margin: 0px;

}
/*shared styles*/
.continer{
    max-width: 1140px;
    margin:auto;
}
.txt{

    color: rgb(233, 90, 8);
}

header{

   
   
}
/*Navigation styles*/

nav{
 margin-top:30px;
display: flex;
justify-content: space-between;
margin-bottom: 120px;
 background-color: brown;
}

.nav-logo{

height: 82px;
width: 135px;
background-color: aquamarine;


}
.nav-content a{

margin-left: 48px;
    text-decoration: none;
}

/*banner styles*/


.banner{

     background-color: rgb(28, 190, 128);
     display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    
}
.banner-content{

   width: 50%; 
   background-color: blue;
}

.banner-title{
padding-top: 163px;
margin-bottom: 13px;
font-weight: 700;
font-size: 4rem;
color: rgb(0,0,0);

}

.banner-description{

    font-weight: 400;
    font-size: 1.35rem;
}
.banner-img{

    
   display: block;
}

/*Plants Section Styles*/

.plants{

    background-color: grey;
    margin-bottom: 211px;
}
.plants-content{

    text-align: center;
    margin-bottom: 49px;
}
.plants-title{


    font-weight: 700;
font-size: 3.1rem;
color:rgb(0, 0, 0) ;
margin-bottom: 16px;
}

.plants-description{

    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px 126px;
}

.plants-cards{
    background-color: aquamarine;
display: grid;
grid-template-columns: repeat(4,1fr);


column-gap: 10px;
row-gap: 20px;
}

.plants-card{

    background-color: azure;
   
    margin-left: 0px;
    border: 3px solid black;
    
}
.plants-img{

    height: 322px;
    width: 270px;
    margin-bottom: 30px;
}
.plant-card-content{

    text-align: center;
}
.plant-title{

font-size: 1.4rem;
font-weight: 500;
color:rgb(17, 17, 17);
margin-bottom: 20px;

}

.plant-price{

    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(17,17,17);
    margin-bottom: 20px;
}
.btn{

    
    background-color: rgb(233, 90, 8);
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/*Plants Lover Section Styles*/
.lover{

    display: flex;
    width: 100%;
    background-color: bisque;
    column-gap: 20px;
}
.flower-logo{


    width: 50%;
    background-image: url('../assets/flower-store.png');
    height:597px ;
    position: relative;
}

.logo{

    height: 286px;
    width: 286px;
    
position: absolute;
top: -22%;
left: 70%;
  
   
    
   
    
}
.lover-content{

padding: 39px 0px 39px 60px ;
}

.lover-title{
font-weight: 700;
font-size: 3.1rem;
;
}
.lover-descriptions ul li{
font-weight: 400;
font-size: 1.3rem;
margin-bottom: 20px;
}